/* @tailwind base;
@tailwind components;
@tailwind utilities; */


.header{
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo{
  width: 100px;
}

.nav-items > ul {

  font-size: 24px;
  display: flex;
  list-style-type: none;
  padding: 0px 20px;

}
.nav-items>ul>li{
  padding: 10px;
  margin: 10px;
}
.res-container{
  display: flex;
  flex-wrap: wrap;
}
.res-card{
  width: 200px;
  height: 350px;
margin: 5px;
  padding: 5px;
}
.res-card:hover
{
  border: 1px solid black;
  cursor: pointer;
}
.search{
  padding: 10px;
  display: flex;
}
.res-logo{
  width: 190px;
}
.img-width{
  width: 200px;
}
.shimmer-card
{
  
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: lightgrey;
  }
 

  .shimmer-container{
    display: flex;
  }
  .user-card{
    margin-top: 5px;
    padding: 10px;
    border: 1px solid black;
  }
  .btn-top-rated{
       margin: 0px 8px;
  background: grey;
  border-radius: 5px;

  width: 177px;
  padding: 5px;
}
.btn-search{
  margin: 0px 5px;
  background: grey;
  border-radius: 5px;

  width: 100px;
  padding: 5px;

}
.p-5{
  padding: 4px;
}
.header-color{
  background-color: lightblue;
}
.isopen-res{
  position: absolute;
  background-color: black;
  color: white;
  text-decoration: none;
  margin: 2px;
  padding: 2px;
  border-radius: 5px;
}
.menu{
  text-align: center;
}
.cuisen{
  font-weight: bold;
}
.accordian{

/* margin: 5px; */
padding: 7px;
font-weight: bold;
font-size: large;
width: 50%;
background-color: rgb(230, 222, 222);
margin: auto;
margin-bottom: 10px;

}
.accordian-title{
  display: flex;
  justify-content: space-between;
}
.accordian-container
{
  /* width: 50%;
  background-color: rgb(230, 222, 222); */
  /* box-sha
  padding: 8px;
  /* margin: 10px; */
  /* margin: auto;
  margin-bottom: 10px; */
}
.item-list{
  margin: 2px;
  
 
  padding: 5px;
  font-weight: 200;
  text-align: left;
  padding: 5px;

  
}
.description{
  font-size: x-small;
  font-weight: 100;
}
.item-list-span{
  padding: 5px;
}
.itemcard{
  border-bottom: 1px solid rgb(211, 210, 210);
  display: flex;
  justify-content: space-between;
}
.img-width1{
  width: 200px;
}
.img-width{
  width: 100px;
}
.list-btn{
  padding: 5px;
  background-color: black;
  color: white;
  position: absolute;
  margin: 0px 2px 0px 2px;
  border-radius: 5px;
}
.btn-container{

}
.login{
  border: none;
    background: lightblue;
    font-weight: bold;
    font-size: large;

}